:root {
  // dimensions
  --mp-font-size-s: 12px;
  --mp-font-size: 14px;
  --mp-font-size-m: 16px;
  --mp-font-size-l: 18px;
  --mp-line-height-none: 1;
  --mp-line-height-s: 1.3;
  --mp-line-height: 1.5;
  --mp-line-height-m: 1.75;
  --mp-line-height-l: 2;
  --mp-border-radius-none: 0;
  --mp-border-radius-s: 2px;
  --mp-border-radius: 4px;
  --mp-border-radius-m: 8px;
  --mp-border-radius-l: 16px;

  // colors
  --mp-color-white: #ffffff;
  --mp-color-black: #000000;
  --mp-color-text: #333333;
  --mp-color-text-1: #666666;
  --mp-color-bg: #ffffff;
  --mp-color-bg-1: #f1f2f3;
  --mp-color-bg-2: #e1e2e3;
  --mp-color-bg-3: #d1d2d3;
  --mp-color-success: #67c23a;
  --mp-color-warning: #e6a23c;
  --mp-color-danger: #f56c6c;
  --mp-color-info: #909399;

  // shadows
  --mp-shadow: 0 0 1px #999999, 0 1px 2px #999999;
}
